
body{
  background: #d4dbb1;
  font-family: 'Quattrocento', serif;
  color:  #8c9177;
  font-size: 20px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Sacramento', cursive;
}


h1{
  color: #626653;
  font-size: 50px;
}

h2{
  font-size: 30px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #8c9177;
  text-decoration: none;
}

a:hover{
  color: #d4dbb1;
  text-decoration: none;
}


/* First simple components*/

.container{
  width: 500px;
  margin: 30px auto;
}
.card{
  background: #effcd4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 100px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.img-circle{
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
.btn-red{
  background-color: #626653;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-red:hover{
  background-color: #d4dbb1;
  color: white;
}

#img-profile{
  width: 150px;
  height: 150px;
  border: 3px solid #626653;
}
#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

.movie-picture {width: 150px;
border-radius: 25%;}

/*#movies img{
  width: 80px;
  border-radius: 100px;
}*/
#movies td{
  padding: 10px;
}
